body {
  font-family: 'Fjalla One', sans-serif;
  /* background: url("https://s3.favim.com/orig/44/drink-glass-love-wine-Favim.com-371290.gif") no-repeat center fixed; */
  /* background-size: cover;
  color: #5b0b0b; */
  margin-top: 4%;
}

.nav-wrapper {
  background: #5b0b0b !important;
}

#autocomplete-input {
  color: black;
  border-radius: 5px;
  border-bottom: 1px solid #8f8023 !important;
  -webkit-box-shadow: 0 1px 0 0 #8f8023 !important;
  box-shadow: 0 1px 0 0 #8f8023 !important;
}

.active {
  color: #5b0b0b !important;
}

.btn {
  background-color: #8f8023 !important;
  border-radius: 5px !important;
}

/* .active {
  color: #5b0b0b !important;
} */

a {
  color: #8f8023 !important;
}

.tabs .indicator {
  background-color: #5b0b0b !important;
}

.preText {
  font-size: 11px !important;
}

#image {
  text-align: center !important;
}

.brand-logo {
  margin-left: 15px;
  color: white !important;
}

.parallax-container {
  height: 300px !important;
}