body {
  font-family: 'Fjalla One', sans-serif;
  background: url("https://s3.favim.com/orig/44/drink-glass-love-wine-Favim.com-371290.gif") no-repeat center fixed;
  background-size: cover;
  color: white;
  margin-top: 4%;
}

.nav-wrapper {
  background: #5b0b0b !important;
}

#autocomplete-input {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.btn {
  background-color: #8f8023 !important;
  border-radius: 5px !important;
}